.header-bar {
  color: #f8f4f4;
  background-color: #f8f4f4;
  width: auto;
  padding: 0.5rem;
  flex-direction: column;
}
.logout-button {
  display: flex;
  flex-direction: row-reverse;
  padding: 1.5rem;
}
